@(tipoPreguntas: List[TipoPregunta])
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/home.css")">
 <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
 <script src="@routes.Assets.at("javascripts/filtroPregunta.js")" type="text/javascript"></script>
 <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
<nav class="leftbar filtro">
	<div id="filtroPreguntas" class="filtro">
		<label>Tipo de Pregunta</label>
		<SELECT NAME="idTipoPregunta" id="idTipoPregunta">                                            
		     <!-- carga la lista de asignaturas que fue resivida al cargar la pagina -->
		      @for(tipoPregunta <- tipoPreguntas) {
		     <OPTION VALUE="@tipoPregunta.idTipoPregunta">@tipoPregunta.nombreTipo</OPTION>
		      } 
		</SELECT>
		<div id="mensajeErr"></div>	 
		<label>Asignatura</label>
		<SELECT NAME="idAsignatura" id="idAsignatura"></SELECT>
		<label>Curso</label>
		<SELECT NAME="idCurso" id="idCurso"></SELECT>
		<div id="filtrocategorias" class="categorias filtro"></div>
	</div>
</nav>
<section id="main" class="mainContent">
	<div id="preguntasContent"></div>
	<div id="preguntaspaginacion"></div>
</section>
<div id="sliderBarPruebabtn">
	<button class="btn btn-info troglePruebas">Prueba</button>
</div>	
	<div id="sliderBarPrueba" class="bottomsliderBar" > 
		
		<div id="sliderBarPruebainner" class="bottomsliderBar inner" > 
			<div class="labelEditable">
				<label>Titulo prueba</label>
            	<input id="titulo" class="edit" value="" hidden>
			</div>	
				@helper.form(action = routes.Pruebas.crearPrueba, 'id -> "pruebaForm") {			
					
				<div id="preguntasPruebas"></div>
				<input type="submit" class="btn btn-primary" value="Crear">				
				}
		</div>		  
	</div>
<style>
.troglePruebas{
position:fixed; 
padding: 6px 12px;
margin-left:90%;
float:right;
height: auto;
width: auto;
}


.sidebar-toggle {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
  background: black;
}
#preguntaspaginacion{
margin-bottom: 10%;
}


</style>