@(pregunta: Pregunta)
<style>
<!--
.pregunta{ 
width: 50%;
}
-->
</style>
       
<li data-preguntaid="@pregunta.idPregunta">
   <button href="#@pregunta.idPregunta" type="button" class="btn btn-success btn-lg preguntatoggle glyphicon-minus">
   Pregunta @pregunta.idPregunta
</button>
   <div id="@pregunta.idPregunta" class="pregunta"> 
	   <table class="table table-hover table-bordered">
		 <thead>		   
		   	  <th class="active">	   	   
		      <strong>@pregunta.pregunta</strong> 
		      </th>
		 </thead>
		 <tbody>
		    @pregunta.alternativas.map { alternativa =>		    	   
		    	   @if(alternativa.es_correcta){
		    	   <tr class="success">
		    	   }else {<tr>}
			    	   <td>@alternativa.alternativaTxt   </td>
		           </tr>
		          
		        }
	    </tbody>      
	    </table>
  </div>          
     &ensp; <article  class="alternativas" id="alternativas">	  
    </article>
    
   
    <span class="loader"></span>
